aiomqtt==1.0.0
astroid==2.15.4
black==24.3.0
click==8.0.4
dill==0.3.6
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==0.4.3
paho-mqtt==1.6.1
parameterized==0.8.1
pathspec==0.9.0
platformdirs==2.5.1
pylint==2.17.3
pyserial==3.4
pyserial-asyncio==0.6
ruff==0.0.263
tomli==2.0.1
tomlkit==0.11.8
wrapt==1.15.0
